$layout-breakpoint-sm: 600px
$layout-breakpoint-md: 800px
$layout-breakpoint-lg: 1000px

.Experiences
    padding-top: 80px
    &__bg
        height: 350px
        width: 90%
        margin: 60px auto 0
        background: rgba(163, 147, 235, 0.5)
        border-radius: 30px
        display: flex
        align-items: center
        justify-content: center

@media only screen and (max-width: $layout-breakpoint-md)
    .Experiences
        font-size: 0.9rem
        &__bg
            width: 95%
            margin: 40px auto 0

@media only screen and (max-width: $layout-breakpoint-sm)
    .Experiences
        &__bg
            width: 100%
            flex-direction: column
            margin: 90px auto 0