.Connect
    position: absolute
    right: 30px
    width: 48px
    top: 80px
    list-style: none
    &__item
        margin-top: 15px
        &:last-child
            height: 80px
            width: 1px
            margin: 15px auto 0px
            background: linear-gradient(to bottom, var(--c2) 1.05%, var(--white) 100%)