$layout-breakpoint-xs: 400px
$layout-breakpoint-sm: 600px
$layout-breakpoint-md: 800px
$layout-breakpoint-lg: 1000px
$layout-breakpoint-xl: 1200px

.Skills
    margin: auto
    padding-top: 80px
    width: 80%
    height: 90vh
    &__container
        margin: 60px auto 0px
        display: flex
        justify-content: space-around