$layout-breakpoint-xs: 480px
$layout-breakpoint-sm: 600px
$layout-breakpoint-md: 768px
$layout-breakpoint-lg: 1024px
$layout-breakpoint-xl: 1200px
$layout-breakpoint-xxl: 1440px

.Project
    display: flex
    align-items: flex-end
    margin-bottom: 80px
    &__container
        width: 60%
        height: 428px
        padding: 50px 60px
        background: var(--white)
        box-shadow: 0px 4px 10px 1px rgba(94, 99, 182, 0.15)
        border-radius: 20px
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: flex-start
    &__title
        font-size: 2.5rem
        color: var(--c3)
        text-transform: uppercase
    &__desc
        text-align: left
        font-size: 1.1rem
        width: 80%
    &__githubLink
        &--image
            background: var(--c2)
            padding: 10px 15px
            border-radius: 10px
    &__liveLink
        margin-left: 24px
        &--image
            background: var(--c2)
            padding: 10px 15px
            border-radius: 10px
    &__image
        width: 430px
        height: 370px
        box-shadow: 0px 0px 0px 2px var(--c4)
        border-radius: 20px
        margin-left: -172px
        transform: translate3d(0, 40px, 0)
    &__right
        justify-content: flex-end
        .Project
            &__image
                margin-right: -172px
            &__container
                order: 1
                padding-right: 0px
                padding-left: 210px

/*----------------------------------Media Queries----------------------------------*/
// @media only screen and (max-width: $layout-breakpoint-xxl)
//     .Project
//         &__image
//             margin-left: -140px
//         &:nth-child(2n)
//             .Project__image
//                 margin-right: -140px

@media only screen and (max-width: $layout-breakpoint-xl)
    .Project
        &__container
            width: 73.5%

@media only screen and (max-width: $layout-breakpoint-md)
    .Project
        margin-top: 300px
        position: relative
        justify-content: flex-end
        &__title
            font-size: 30px
        &__desc
            font-size: 0.9rem
        &__right
            .Project
                &__image
                    margin-right: 0px
                &__container
                    padding: 50px
        &__container
            height: 350px
            width: 100%
            padding: 50px
        &__image
            width: 350px
            height: 300px
            margin: 0
            position: absolute
            top: -80%
            left: 20%
            transform: translate3d(-30%, 0%, 0)