.Project
    height: 384px
    width: 224px
    padding: 8px
    margin: 20px auto 10px
    border-radius: 24px
    background: var(--white)
    box-shadow: 0px 0px 50px -25px var(--blue5)
    scroll-snap-align: center
    transition: transform 0.5s
    position: relative
    &__image
        height: 208px
        width: 208px
        object-fit: cover
        border-radius: 24px
    &__title
        font-size: 0.88rem
        font-weight: 600
        margin-top: 16px
    &__desc
        color: var(--grey)
        font-size: 0.8rem
    &__link
        background: var(--blue2)
        color: var(--blue0)
        font-weight: 600
        font-size: 0.88rem
        padding: 8px 12px
        border-radius: 24px
        cursor: pointer
        text-decoration: none
        display: none
        position: absolute
        left: 50%
        bottom: 10px
        transform: translateX(-50%)
        pointer-events: auto
    &__active
        transform: scale(1.2) !important
        height: 430px
        & .Project__link
            display: initial

@media only screen and ( max-width:  800px)
    .Project__active
        transform: scale(1.1) !important

@media only screen and ( max-width: 600px)
    .Project
        box-shadow: 0px 0px 60px -25px var(--blue5)
    
        