@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,100&display=swap');

:root {
  --grey: #737272;
  --white: #FFFFFF;
  --blue0: #F0F9FF;
  --blue1: #bbe1fa;
  --blue2: #3282b8;
  --blue3: #0f4c75;
  --blue4: #1b262c;
  --blue5: #7090B0;
}

* {
  box-sizing: border-box;
}

.App {
  height: max-content;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
  background: url('./utilities/images/BG.svg') fixed;
  /* background-size: cover; */
  z-index: -1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--blue2);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--blue3);
}

.App > div:nth-child(n+3) {
  margin: 120px auto 0px;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

.titleHolder {
  margin: -15px auto 0;
  font-weight: 700;
  font-size: 1.7rem;
  color: var(--blue3);
}

.line {
  content: '';
  opacity: 1;
  height: 4px;
  width: 200px;
  margin: 10px auto;
  vertical-align: middle;
  background: var(--blue3);
}

.left {
  transform-origin: right;
  display: none;
}

.right {
  transform-origin: initial;
}

@media only screen and (max-width: 450px) {
  .titleHolder {
    margin: 0px auto 0;
    font-size: 1.3rem;
  }
  .titleHolder::before, .titleHolder::after {
    content: '';
    width: 25vw;
  }
}