$layout-breakpoint-md: 800px
$layout-breakpoint-mid: 900px
$layout-breakpoint-xl: 1200px

.Nav
    &__container
        background-color: var(--blue3)
        position: fixed
        // right: -90%
        // width: 90%
        right: -280px
        width: 280px
        height: 100%
        grid-area: nav
        display: flex
        // display: grid
        padding: 45px 0
        flex-direction: column
        // grid-template-rows: repeat(8, 60px)
        // grid-template-areas: "profile" "profile" "name" "items" "items" "items" "items" "items"
        transform: translate3d(0, 0, 0)
        transition: transform 0.5s
        z-index: 998

    &__name
        color: var(--blue0)
        padding: 10px
        margin-bottom: 10px
        grid-area: name
        font-size: 1.1rem
        font-weight: 800
        cursor: pointer

    &__items
        color: var(--blue0)
        list-style-type: none
        padding: 0
        width: 100%
        margin: 10px 0
        position: relative
        grid-area: items
        display: grid
        grid-template-rows: repeat(5, 50px)
        & > li
            cursor: pointer
            display: flex
            justify-content: center
            align-items: center
            z-index: 2
    &__active
        position: absolute
        height: 40px
        border-left: 5px solid var(--blue4)
        border-right: 5px solid var(--blue4)
        transform: translateX(-50%)
        background: var(--blue2)
        z-index: 1
    &__profile
        height: 130px
        width: 130px
        margin: auto
        grid-area: profile
        // margin: 0 auto
        box-shadow: 0px 0px 4px 9px rgba(16, 41, 58, 0.25)
        border-radius: 50%
.ham
    position: fixed
    top: 10px
    right: 10px
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 28px
    width: 40px
    z-index: 999
    cursor: pointer
    &__item
        height: 4px
        border-radius: 5px
        width: inherit
        background: var(--blue0)
        transition: transform 0.2s

#Nav__check
    display: none
    &:checked + .ham > .ham__item
            &:nth-child(1)
                transform: translate3d(0, 14px, 0) rotate(45deg)
            &:nth-child(2)
                transform: scale(0, 1)
            &:nth-child(3)
                transform: translate3d(0, -14px, 0) rotate(-45deg)
    &:checked ~ .Nav__container
        transform: translate3d(-100%, 0, 0)

@media only screen and (min-width: $layout-breakpoint-md)
    .ham
        display: none
    .Nav
        position: fixed
        top: 0
        z-index: 1
        width: 100%
        &__container
            position: initial
            height: 60px
            width: 100%
            padding: 0
            display: grid
            grid-template-columns: repeat(12, 1fr)
            grid-template-areas: "name name name items items items items items items connect connect connect"
        &__name
            margin: auto
            padding: 0
        &__items
            display: flex
            & > li:nth-child(n + 2)
                padding: 0 10px
        &__active
            top: 0
            left: 0
            width: 70px
            transform: translate(0)
            border-width: 1px 
            border-radius: 10px
        &__profile
            display: none

@media only screen and (min-width: $layout-breakpoint-md) and (max-width: $layout-breakpoint-mid)
    .Nav__items > li
        font-size: 0.915rem

@media only screen and (min-width: $layout-breakpoint-xl)
    .Nav__items > li
        padding: 0 25px